@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
}

body {
  background: hsl(211, 6%, 92%);
  font-family: "Barlow Semi Condensed", sans-serif;
  max-width: 1000px;
  margin: 20px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.grid-container > div {
  padding: 2rem;
  margin: 10px;
  box-shadow: 5px 5px 16px rgb(0 0 0 / 40%);
  border-radius: 10px;
}

.first {
  grid-column-start: 1;
  grid-column-end: 3;
  color: var(--White);
  background: url(./images/bg-pattern-quotation.svg), var(--Moderate-violet);
  background-repeat: no-repeat;
  background-position: top right;
  background-position-x: 90%;
  background-size: 100px;
}

.second {
  background-color: var(--Very-dark-grayish-blue);
  color: var(--White);
}

.third {
  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 4;
  grid-column-end: 5;
  background-color: var(--White);
}

.forth {
  background-color: var(--Very-dark-blackish-blue);
  color: var(--White);
}

.last {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--White);
}

.title {
  opacity: 0.6;
}

.heading {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem 0;
}

.des {
  opacity: 0.7;
  font-size: 0.8rem;
  font-weight: 600;
}

.profile {
  display: flex;
  font-weight: 600;
}

.profile > img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
}

.profile > .details {
  margin-left: 1rem;
}

.attribution {
  margin: 20px 0;
  font-size: 1rem;
}

.attribution a {
  color: white;
  text-decoration: none;
}

.attribution > span {
  color: white;
  background-color: var(--Moderate-violet);
  padding: 10px 20px;
  border-radius: 10px;
  outline: 1px solid var(--Moderate-violet);
  outline-offset: 3px;
}
